body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  max-width: 750px;
  background-image: url("../img/background.jpg");
}
.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.bg-yellow {
  background: #faffe5;
}
.bg-blue {
  background-color: #e5efff;
}
.bg-green {
  background-color: #e5ffe7;
}
.bg-red {
  background-color: #ffe5e5;
}
.bg-green2 {
  background-color: #f0fce4;
}
.header {
}
.header__nav {
}
.header__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.header__link {
}
.about-me {
}
.about-me__description {
}
.about-me__figure {
}
.about-me__img {
  max-width: 200px;
  border-radius: 10%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.about-me__figcaption {
}
.my-projects {
  /* display: flex; */
}
.projects {
  display: flex;
}
.project {
  /* display: flex; */
}
.project__figure {
}
.project__img {
  max-width: 150px;
}
.project__name {
  font-weight: bold;
}
.project__description {
}
.project__links {
}
.project__link {
}
.contact-me {
}
.contact-me__links {
  display: flex;
  justify-content: space-around;
}
.contact-me__link {
}
.contact-me__img {
  max-width: 100px;
}
.dog {
  /* justify-content: center; */
}
.dog__image {
  max-width: 400px;
}
.footer {
  margin-top: 20px;
  /* display: flex; */
  /* justify-content: center; */
}
