body {
  font-family: "Roboto", sans-serif;
}
img {
  /* max-width: 200px; */
}
.about-me {
}
.about-me__figure {
}
.about-me__img {
  max-width: 200px;
  border-radius: 10%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.about-me__figcaption {
}
.project {
}
.project__figure {
}
.project__img {
}
.project__name {
}
.project__description {
}
.project__links {
}
.project__link {
}
