nav {
  float: right;
  border-bottom: 1px solid black;
}

.links ol {
  list-style-type: none;
  padding-left: 0;
}

.link {
  display: inline-block;
}

.link a::after {
  display: inline-block;
  color: #000;
  content: "|";
  font-size: 80%;
  font-weight: bold;
  padding: 0 1em;
}
img {
  width: 50%s;
}
